.logo-container {
    display: inline-block;
}

.boards {
    text-align: center;
}

.boards-grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
    border-style: dashed;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.125);
    padding: 8px;
}

.boards-cell {
    text-align: left;
    min-width: 0;
    word-break: break-word;
}

.crypto-grid {
    display: inline-grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 0px 8px;
    border-style: dashed;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.125);
    padding: 8px;
}

.crypto-header {
    font-weight: bold;
    min-width: 0;
    overflow: hidden;
}

.crypto-header-1 {
    text-align: center;
}

.crypto-header-2 {
    text-align: center;
}

.crypto-header-3 {
    text-align: center;
}

.crypto-column {
    min-width: 0;
    overflow: hidden;
}

.crypto-column-1 {
    text-align: left;
}

.crypto-column-2 {
    text-align: left;
}

.crypto-column-3 {
    text-align: left;
}

.siterules {
    text-align: center;
}

.ruletable {
    text-align: left;
    display: table;
    margin: 0 auto;
}