This privacy policy is in effect on minilauta.org

Javascript:             Minimal
Cookies:                Minimal
Local Storage:          Minimal
Advertisements:         No
CDN                     Yes
Tracking Pixels:        No
Access Logs:            Yes
Social Media Interop:   No
Log Retention:          15 days

- Cookies and Local Storage are used for the following reasons:
  - Website User Interface features.
- Access Logs are recorded for the following reasons:
  - Law enforcement requests in case illegal content has been posted by a user.
